body {margin: 0 auto;color: white;text-align: center;width: 100vw;
height: 100vh;font-family: Arial;position: absolute;
    }
a {color: white;}
a:hover {color: rgb(217, 217, 217);}
#en {display: flex;
flex-direction: row;
flex-wrap: wrap;}

/*Redbox*/
.redbox {background-color: #d43224;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;
  width: 100vw;align-items: center;font-size: 30px;
flex: 0 1 auto;padding: 5% 0;}
.itenbutton {font-size: 40px;width: 100vw;
flex: 0 1 auto;
display: block;text-align: right;margin-right: 10%;}
.titleit {width: 100vw;
flex: 0 1 auto;margin: 2% auto;font-size: 60px;display: block;}
.titleen {width: 100vw;
flex: 0 1 auto;
margin: 2% auto;
font-size: 60px;
display: none;}
.negpointsit {width: 50vw;flex: 0 1 auto;display: block;}
.negpointsen {width: 50vw;
flex: 0 1 auto;

display: none;}
.negimage {flex: 0 1 auto;width: 50vw;margin: 2em auto;}

/*Graybox*/
.grayboxleft {width: 25vw;
display: flex;flex: 0 1 auto;background: linear-gradient(#d43224 50%, rgb(18, 138, 213) 50%);}
.graybox {
width: 50vw;
display: flex;font-size: 30px;
flex: 0 1 auto;color: rgb(110, 110, 110);background: linear-gradient(#d43224 50%, rgb(18, 138, 213) 50%);}
.grayboxright {;
width: 25vw;
display: flex;
flex: 0 1 auto;background: linear-gradient(#d43224 50%, rgb(18, 138, 213) 50%);}

.graybox a {width: 100%;color: rgb(93, 93, 93);text-decoration: none;background: white;
border-radius: 5px;
padding: 2px 6px;}
.graybox p {margin: 10 auto;}
p {}
.graybox p:nth-child(1) {display: block;}
.graybox p:nth-child(2) {display: none;}

/*Bluebox*/
.bluebox {background-color: rgb(18, 138, 213);
display: flex;
flex-direction: row;
flex-wrap: wrap;justify-content: center;
  align-items: center;width: 100vw;font-size: 30px;
  flex: 0 1 auto; padding: 5% 0}
.pospointsit {width: 50vw;
flex: 0 1 auto;

display: block;}
.pospointsen {width: 50vw;
flex: 0 1 auto;

display: none;}
.posimage {flex: 0 1 auto;
width: 50vw;margin: 2em auto;}

/*Footer*/
footer {
    position: relative;
    bottom: 0;background-color: rgb(18, 138, 213);width: 100vw;
flex: 0 1 auto;
}

.socialprivacy {display: flex;flex-direction: row-reverse;
flex-wrap: wrap;height: 10vh;}
.social {width: 25vw;
flex: 0 1 auto;}
.privacy {width: 25vw;
flex: 0 1 auto;}

/* Mobile */
@media screen and (max-width: 800px) {
    .negpoints {width: 100%; flex: 0 1 auto;}
    .negimage {flex: 0 1 auto; width: 100%;}
    .pospoints {width: 100%;flex: 0 1 auto;}
    .posimage {flex: 0 1 auto; width: 100%;}
    .grayboxleft {width: 10vw}
    .graybox {width: 80vw}
    .grayboxright {width: 10vw}
    body {-webkit-overflow-scrolling: touch;
padding: 12px env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);}
}

/*Translation IT/EN*/

#it:target .negpointsit,#it:target .pospointsit,#it:target .graybox p:nth-child(1),#it:target .titleit {display: block;}
#it:target .negpointsen,#it:target .pospointsen,#it:target .graybox p:nth-child(2),#it:target .titleen {display: none;}
#en:target .negpointsit,#en:target .pospointsit,
#en:target .graybox p:nth-child(1),#en:target .titleit {display: none;}
#en:target .negpointsen,#en:target .pospointsen,#en:target .graybox p:nth-child(2),#en:target .titleen {display: block;}







