body {margin: 0 auto;color: white;text-align: center;width: 100%;
height: 100%;font-family: Rubik,Arial,sans-serif;word-wrap: break-word;}
a {color: white;}
a:hover {color: rgb(217, 217, 217);}
#en {display: flex;
flex-direction: row;
flex-wrap: wrap;}
.dot {height: 20px;
  width: 20px;
  background-color: #383d44;
  border-radius: 50%;display: inline-block;margin: 0 2% 0 0;position: relative;top: 3;0;}

/*Redbox*/
.redbox {font-size: 25px; background-color: #d43224;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: center;
  width: 100%;align-items: center;
flex: 0 1 auto;padding: 5% 0;}
.redbox h2 {font-size: 20px;text-align: left;padding: 0 2% 0 8%;font-weight: 100;%;}
.itenbutton {font-size: 40px;width: 100%;
flex: 0 1 auto;
display: block;text-align: right;margin-right: 10%;}
.titleit {width: 100%;
flex: 0 1 auto;margin: 5% auto;font-size: 60px;display: block;}
.titleen {width: 100%;
flex: 0 1 auto;
margin: 5% auto;
font-size: 60px;
display: none;}
.negpointsit {width: 70%;flex: 0 1 auto;display: block;}
.negpointsen {width: 70%;
flex: 0 1 auto;

display: none;}
.negimage {flex: 0 1 auto;width: 30%;margin: 2em auto;}

/*Graybox*/
.grayboxleft {width: 25%;
display: flex;flex: 0 1 auto;background: linear-gradient(#d43224 50%, rgb(18, 138, 213) 50%);}
.graybox {
width: 50%;
display: flex;font-size: 30px;
flex: 0 1 auto;color: rgb(110, 110, 110);background: linear-gradient(#d43224 50%, rgb(18, 138, 213) 50%);}
.grayboxright {;
width: 25%;
display: flex;
flex: 0 1 auto;background: linear-gradient(#d43224 50%, rgb(18, 138, 213) 50%);}

.graybox .graytext {width: 100%;color: rgb(93, 93, 93);text-decoration: none;background: white;
border-radius: 5px;
padding: 2px 6px;}
.graybox p {margin: 10 auto;}
.graybox p:nth-child(1) {display: block;}
.graybox p:nth-child(2) {display: none;}

/*Bluebox*/
.bluebox {font-size: 25px; background-color: rgb(18, 138, 213);
display: flex;
flex-direction: row;
flex-wrap: wrap;justify-content: center;
  align-items: center;width: 100%;
  flex: 0 1 auto; padding: 5% 0}
.bluebox h2 {font-size: 20px;text-align: left;padding: 0 8% 0 2%;font-weight: 100;}
.pospointsit {width: 70%;
flex: 0 1 auto;

display: block;}
.pospointsen {width: 70%;
flex: 0 1 auto;

display: none;}
.posimage {flex: 0 1 auto;
width: 30%;margin: 2em auto;}

/*Joinbox*/

.joincontainer {display: flex;
flex-direction: row;
flex-wrap: wrap;width: 70%;margin: 4% auto 0 auto;}
.joinbox {border-radius: 0 0 5px 5px;background: white;color: #383d44;display: flex;
flex-direction: row;
flex-wrap: wrap;justify-content: center;
  align-items: center;width: 100%; flex: 0 1 auto}
.joinpoints {flex: 0 1 auto;
width: 80%;}
.logo {flex: 0 1 auto;
width: 20%;}
.joinpoints h2 {padding: 0 0 0 2%;}
.joinmessage {width: 100%;
background-color: #383d44;border-radius: 5px 5px 0 0;flex: 0 1 auto;
}
.joinmessage h2 {margin: 0 auto;font-weight: 100;
text-align: center;}
.jointextit {margin: 3%;
}
.joinpoints .dot {height: 13px;
width: 13px;top: 1;margin: 0 1% 0 0;}

/*Footer*/
footer {
    position: relative;
    bottom: 0;background-color: rgb(18, 138, 213);width: 100%;
flex: 0 1 auto;display: flex;
flex-direction: row-reverse;
flex-wrap: wrap;

}

.socialprivacy {
margin: 0 50px 50px 0;text-align: right;}
.social {display: inline-flex;}
.privacy {white-space: nowrap;
  overflow: hidden;display: inline-flex;}

/* Mobile */
@media screen and (max-width: 800px) {
    .negpointsit,.negpointsen, .negimage, .pospointsit,.pospointsen, .posimage {width: 100%; flex: 0 1 auto;}

    .joinpoints {width: 100%}
    .joinpoints h2 {font-size: 16px}
    .logo {width: 100%}
    .grayboxleft {width: 10%}
    .graybox {width: 80%}
    .grayboxright {width: 10%}
    .jointextit {font-size: 13px}
    .titleit {font-size: 40px}
    .titleen  {font-size: 40px}
    .redbox h2 {padding: 0 4% 0 4%; font-size: 18px}
    .bluebox h2 {padding: 0 4% 0 4%; font-size: 18px}
    body {-webkit-overflow-scrolling: touch;
padding: 12px env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);}
}

/*Translation IT/EN*/

#it:target .negpointsit,#it:target .pospointsit,#it:target .graybox p:nth-child(1),#it:target .titleit {display: block;}
#it:target .negpointsen,#it:target .pospointsen,#it:target .graybox p:nth-child(2),#it:target .titleen {display: none;}
#en:target .negpointsit,#en:target .pospointsit,
#en:target .graybox p:nth-child(1),#en:target .titleit {display: none;}
#en:target .negpointsen,#en:target .pospointsen,#en:target .graybox p:nth-child(2),#en:target .titleen {display: block;}


/*POPUP*/

.modal-container {
  margin: 0 auto;
  
  position: relative;
  white-space: nowrap;
overflow: hidden;
display: inline-flex;
}
.modal-container button {
  display: block;
  margin: 0 auto;
  color: #fff;
  
  
  
  background: none;
  
  border: 0;font-size: 15px;
  
}
.modal-container .modal-backdrop {
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s ease-in;
}
.modal-container #modal-toggle {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}
.modal-container #modal-toggle:hover ~ button { background: none;color: rgb(219, 219, 219); }
.modal-container #modal-toggle:checked {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  opacity: 0;
}
.modal-container #modal-toggle:checked ~ .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  pointer-events: none;
  opacity: 1;
}
.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content {
  background-color: #fff;
  max-width: 400px;
  width: 100%;
  
  
  position: relative;
  left: -50%;
  
  border-radius: 5px;
  z-index: 999;
  pointer-events: auto;
  cursor: auto;color: black;text-align: center;
  
}
.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close {
  color: #666;
  position: absolute;
  right: 2px;
  top: 0;
  padding: 7px;
  background: #fff;
  font-size: 25px;
  width: 25px;
  height: 28px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close.button {
  top: initial;
  bottom: 20px;
  right: 20px;
  background: none;
  color: #fff;
  width: 50px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: normal;display: none;
}
.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close.button:hover {
  color: #fff;
  background: #1E824C;
}
.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content .modal-close:hover { color: #333; }

.modal-container #modal-toggle:checked ~ .modal-backdrop .modal-content p {
    padding: 3em 1em 1em 1em;
    margin: 0 auto;
    white-space: normal;
}











